<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Employees</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Edit Eployees </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-info" href="#" th:href="@{/employees/all}"> Back to All Employees </a>
            <form action="#" class="form-horizontal"
                  th:action="@{/employees/save}"
                  th:object="${form}"
                  method="post">
                <fieldset>
					<span class="pull-right">
						    <input type="submit" id="submitButton" class="btn btn-success" th:value="Save">
						    <input type="reset" id="resetButton" class="btn btn-danger" th:value="Reset"/>
					</span>
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th> Name</th>
                            <th> Address</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="employee, itemStat : ${form.employees}">
                            <td><input hidden th:name="|employees[${itemStat.index}].id|" th:value="${employee.getId()}"/></td>
                            <td><input th:placeholder="Name + ' ' + ${itemStat.count}" th:name="|employees[${itemStat.index}].name|" th:value="${employee.getName()}"
                                       required/></td>
                            <td><input th:placeholder="Address + ' ' + ${itemStat.count}" th:name="|employees[${itemStat.index}].address|"
                                       th:value="${employee.getAddress()}" required/></td>
                        </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>